<form class="example-container" [formGroup]="form" (ngSubmit)="operar()" #espForm="ngForm">

    <div [hidden]="true">
        <mat-form-field class="example-full-width">
            <input matInput placeholder="ID" required formControlName="id">
        </mat-form-field>
    </div>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="nombreSolicitud" required formControlName="nombreSolicitud">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="apellidoSolicitud" required formControlName="apellidoSolicitud">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="correoSolicitud" required formControlName="correoSolicitud">
    </mat-form-field>

    <mat-form-field class="example-full-width">
        <input matInput placeholder="telefonoSolicitud" required formControlName="telefonoSolicitud">
    </mat-form-field>


    <mat-form-field class="example-full-width">
        <mat-label>Tipo de Servicio</mat-label>
        <mat-select formControlName="tipoServicioSolicitud" required>
          <mat-option value="INSTALACION">Instalación</mat-option>
          <mat-option value="REPARACION">Reparación</mat-option>
          <mat-option value="MANTENIMIENTO">Mantenimiento</mat-option>
          <mat-option value="EXTRAS">Extras</mat-option>
        </mat-select>
      </mat-form-field>
      

    

      <mat-form-field class="example-full-width">
        <textarea matInput placeholder="Descripcion de la solicitud" required formControlName="descripcionSolicitud"></textarea>
      </mat-form-field>
      

    <mat-form-field class="example-full-width" style="display: none;">
        <input matInput placeholder="estadoSolicitud" value="Pendiente" formControlName="estadoSolicitud">
      </mat-form-field>


    <button mat-raised-button color="primary" type="submit" [disabled]="espForm.invalid">
        <mat-icon>done</mat-icon>
        <span>Aceptar</span>
    </button>
    <button mat-raised-button color="accent" routerLink='/paginaweb' type="button">
        <mat-icon>close</mat-icon>
        <span>Cancelar</span>
    </button>
</form>

<br />